audio,
canvas,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

a:focus {
  outline: thin dotted
}

a:active, a:hover {
  outline: 0
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

a {
  color: #4ae;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.example-image-link {
  display: inline-block;
  padding: 4px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px
}

.example-image-link:hover {
  background-color: #4ae
}

.example-image {
  width: 7rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px
}

.how-to-use-section p,
.how-to-use-section ol,
.how-to-use-section ul,
.how-to-use-section pre {
  text-align: left
}


