# deny all POST requests
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_METHOD} POST
	RewriteRule .* - [F,L]
</IfModule>

# require HTTP 1.1 for POST
<IfModule mod_rewrite.c>
	RewriteCond %{THE_REQUEST} ^POST(.*)HTTP/(0\.9|1\.0)$ [NC]
	RewriteRule .* - [F,L]
</IfModule>

# AddType application/x-httpd-php54 .html .php5 .php4 .php .php3 .php2 .phtml
# try to send the bots home
RewriteCond %{HTTP_USER_AGENT} ^.*(Ahrefs|Baidu|BlogScope|Butterfly|DCPbot|discoverybot|domain|Ezooms|ImageSearcherFree).*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*(ips-agent|linkdex|MJ12|Netcraft|NextGenSearchBot|SISTRIX|Sogou|soso|TweetmemeBot|Unwind|Yandex).*$ [NC]
RewriteRule ^/?.*$ "http\:\/\/127\.0\.0\.1" [R,L]

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 92.40.248.79
deny from 41.186.56.23
deny from 37.34.0.198
deny from 124.82.24.218
deny from 41.138.87.45
deny from 195.158.69.30
deny from 213.205.240.66
deny from 213.205.241.134
deny from 86.175.80.198
deny from 86.159.93.165